@using PizzaStore.Models
@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (ProductViewModel product in Model.Products)
{
    <div>
        <div>@product.Name</div>
        <div>@product.Description</div>
    </div>
}
